<?xml version="1.0" encoding="UTF-8" ?>
<phpdocumentor
        configVersion="3"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://www.phpdoc.org"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/phpDocumentor/phpDocumentor/master/data/xsd/phpdoc.xsd"
>
    <title>Omega API</title>
    <template name="clean" />
    <setting name="guides.enabled" value="false" />
    <setting name="graphs.enabled" value="false" />
    <setting name="template.color" value="indigo"/>
    <paths>
        <output>cache/apiDoc</output>
        <cache>cache/phpdoc</cache>
    </paths>
    <version number="3.5.3">
        <api>
            <source dsn=".">
                <path>src/</path>
            </source>
            <extensions>
                <extension>php</extension>
            </extensions>
            <visibility>public</visibility>
            <visibility>private</visibility>
            <visibility>protected</visibility>
            <default-package-name>Omega</default-package-name>
        </api>
    </version>
</phpdocumentor>
