<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="phpunit.xsd" 
	bootstrap="tests/bootstrap.php" 
	cacheDirectory="cache/phpunit"
	cacheResult="true" 
	executionOrder="depends,defects" 
	defaultTestSuite="Omega Test Suite" 
	beStrictAboutOutputDuringTests="true" 
	failOnRisky="true" 
	failOnWarning="true" 
	testdox="true" 
	testdoxSummary="true" 
	colors="true"
	>
  	<testsuites>
    		<testsuite name="Omega Test Suite">
      			<directory>tests</directory>

    		</testsuite>
  	</testsuites>
  	<source>
    		<include>
      			<directory suffix=".php">app</directory>
      			<directory suffix=".php">vendor/omegamvc/*/src</directory>
    		</include>
  	</source>
  	<coverage pathCoverage="true">
    		<report>
      			<html outputDirectory="cache/coverage-report" lowUpperBound="50" highLowerBound="90"/>
    		</report>
  	</coverage>
  	<logging>
    		<testdoxHtml outputFile="cache/coverage-report/testdox.html"/>
  	</logging>
</phpunit>
